<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs\temp\internal-LocalPublish.txt">
	<targets>
		<!--此部分中的所有目标将自动异步
    <target name="asyncFile" xsi:type="AsyncWrapper" />
    -->
		<!--项目日志保存文件路径说明fileName="${basedir}/保存目录，以年月日的格式创建/${shortdate}/${记录器名称}-${单级记录}-${shortdate}.txt"-->
		<!-- write logs to file  -->
		<target name="defaultlog" xsi:type="File" keepFileOpen="false" encoding="utf-8"
			fileName="${basedir}/logs/${level}/${shortdate}.log"
			layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />

		<!-- another file log, only own logs. Uses some ASP.NET core renderers -->
		<!--
    <target xsi:type="File" name="ownFile-web" fileName="${basedir}/logs/${level}/nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
 -->
	</targets>

	<!-- rules to map from logger name to target Info.warn.Fatal -->
	<rules>

		<logger name="LocalPublish" minlevel="Info" maxlevel="Fatal" writeTo="defaultlog" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
	</rules>

</nlog>