<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="FileConfig" type="AutoLocalPublish.Models.FileConfig,AutoLocalPublish" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="default" connectionString="Data Source=192.168.90.29\SQLEXPRESS;Initial Catalog=SysData;user id=mis002;password=dongguan;Connect Timeout=90;" />
	</connectionStrings>
	<FileConfig>
		<add Key="BusinessRules.dll"  OpType="exclude" ></add>
		<add Key="BusinessSysRules.dll"  OpType="exclude" ></add>
		<add Key="NicRules.dll"  OpType="exclude" ></add>
		<add Key="DataAccessLayers.dll"  OpType="exclude" ></add>
		<add Key="Nienmade.DataHelper.dll"  OpType="exclude" ></add>
		<add Key="appsettings.orleanshost"  OpType="exclude" ></add>
		<add Key="BusinessSysDAL.dll"  OpType="exclude" ></add>
		<add Key="BusinessSysFacade.dll"  OpType="exclude" ></add>
		<add Key="BusinessSysEntity.dll"  OpType="exclude" ></add>
		<add Key="System.Data.SqlClient.dll"  OpType="exclude" ></add>
		<add Key="System.Data.OleDb.dll"  OpType="exclude" ></add>
	</FileConfig>
	<appSettings>
		<add key="LocalPublishDir" value="" />
		<add key="PublishToDir" value="" />
		<add key="BackUpDir" value="" />
		<add key="HostServer" value="192.168.90.29:6379" />
		<add key="ClusterId" value="NienmadeDev" />
		<add key="ServiceId" value="NienmadeApp" />
		<add key="HashCompare" value="1" />
	</appSettings>
</configuration>